<div class="container my-3">
    <div class="row ml-3">
        <div class="col">
            <div class="card text-center" style="width: 18rem;">
                <h5 class="card-header bg-white">Total Orders</h5>
                <div class="card-body">
                    <h5 class="card-title">{{total_orders}}</h5>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card text-center" style="width: 18rem;">
                <h5 class="card-header bg-success">Orders Delivered</h5>
                <div class="card-body">
                    <h5 class="card-title">{{delivered}}</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center" style="width: 18rem;">
                <h5 class="card-header bg-danger">Orders Pending</h5>
                <div class="card-body">
                    <h5 class="card-title">{{pending}}</h5>
                </div>
            </div>

        </div>
    </div>
</div>