{% extends 'accounts/base.html'%}

{% load static %}

{% block content %}
<div class="container mx-auto my-5">

    <div class="card" style="width: 20rem;">

        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        {{form}}
                    </div>
                </div>

                <hr>
                <input class="btn btn-outline-success" type="submit" value="update">
                <a href="{% url 'home' %}" class="btn btn-info">cancle</a>
            </form>
        </div>
    </div>
</div>


{% endblock %}